@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
}

/* Minimum safe width for ultra-small devices */
.min-safe-width {
  min-width: 275px;
  overflow-x: hidden;
}
